<html>
	<head>
		<link rel =stylesheet href='/static/main/{{ tema }}/css/style_viws_admin.css'>
		<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
	</head>
	<body>
		<h3>{{ mensaje }}</h3>

		<a href='{{ base2 }}'><button type="button" class="b_ini" >INICIAR SESION</button></a><br><br><br><br>
		<img src ="/static/main/{{ tema }}/images/logo_principal.png" id="lo" />
		<div id="pie">
			<a id="power">Powered By: </a><a href="http://www.itclatam.com"><img id="itc" src="/static/main/{{ tema }}/images/logoit.png" /></a>
		</div>
	</body>
</html>
